# Configuration Supabase
# Remplacez ces valeurs par les clés de votre projet (Paramètres > API)

VITE_SUPABASE_URL=votre_url_supabase_ici
VITE_SUPABASE_ANON_KEY=votre_cle_anon_supabase_ici

# NOUVEAU : La clé API RAWG
VITE_RAWG_API_KEY=votre_cle_api_rawg_ici