@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background: #0a0a0a;
  color: #00ffcc;
  cursor: none; /* pour curseur custom */
  font-family: system-ui, sans-serif;
  background: radial-gradient(circle at center, #0a0a0a, #000000);
}
/* ✨ Glow effet néon */
.neon {
  font-family: 'Press Start 2P', cursive;
  text-shadow:
    0 0 5px #00ffcc,
    0 0 10px #00ffcc,
    0 0 20px #00ffcc;
}


a, button {
  cursor: none;
}

.btn {
  letter-spacing: 1px;
}


/* Animation de chute du haut vers le bas */
@keyframes fall {
  0% { top: -10%; opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { top: 100%; opacity: 0; }
}

.animate-fall {
  /* La durée ici doit correspondre exactement au FALL_DURATION dans React */
  animation: fall 3s linear forwards;
}

/* Animation d'apparition de la modale */
@keyframes popIn {
  0% { 
    opacity: 0; 
    transform: scale(0.95) translateY(10px); 
  }
  100% { 
    opacity: 1; 
    transform: scale(1) translateY(0); 
  }
}

.animate-pop-in {
  animation: popIn 0.2s ease-out forwards;
}